body {
  background: rgb(230, 230, 230);
}

p {
  color: rgb(25, 25, 25);
}

img {
  display: none;
}

.arrow-back, .help-toggle {
  color: rgb(25, 25, 25);

  &:hover {
    color: rgb(184, 184, 184);
  }
}

#brick-breaker-canvas {
  border: 1px solid black;
  margin: 2em 0;
}

.high-scores {
  .high-score {
    display: flex;
    justify-content: space-between;
  }
}
