body {
  background: rgb(192, 192, 192);
}

.arrow-back, .help-toggle {
  z-index: 10;
  color: rgb(141, 141, 141);
  
  &:hover {
    color: rgb(225, 225, 225);
  }
}

// grid/all squares
.grid {
  height: 480px;
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(191, 191, 191);
  border: 8px inset rgb(225, 225, 225);
  margin: 2em 0;
}

// individual squares
.grid div {
  height: 40px;
  width: 40px;
  border: 4px outset rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background: rgb(210, 210, 210);
  border: 4px inset rgb(200, 200, 200);
}

.one {
  color: rgb(4, 0, 195);
}

.two {
  color: rgb(16, 120, 16);
}

.three {
  color: rgb(233, 10, 7);
}

.four {
  color: rgb(7, 5, 114);
}
