* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(68, 75, 85);
  font-family: 'Press Start 2P', cursive;
}

p {
  color: rgb(208, 209, 202);
  line-height: 1.5em;
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  canvas {
    margin: 2em 0;
  }
}

.high-scores {
  .high-score {
    display: flex;
    justify-content: space-between;
  }
}