* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  margin-bottom: 1.5em;
}

p, a {
  line-height: 1.5em;
}

strong {
  text-decoration: underline;
}

main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-toggle {
  z-index: 10;
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
  top: 10px;
  right: 10px;
  color: #191919;
}

.help-toggle:hover {
  color: #da362c;
}

.help {
  font-size: 0.8rem;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help.active {
  opacity: 1;
  z-index: 1;
}

.help .help-modal {
  background: white;
  border: 8px solid #191919;
  width: 60%;
  max-width: 850px;
  padding: 5em 4em;
}

.help .help-modal .game-title {
  color: #da362c;
  margin-bottom: 1.2rem;
  text-align: center;
}

.help .help-modal .game-tagline {
  text-align: center;
  margin-bottom: 3rem;
}

.help .help-modal h3 {
  text-align: center;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #da362c;
}

.help .help-modal p {
  color: #191919;
  margin: 0 12%;
}

.help .help-modal a {
  color: #da362c;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 0.5em;
}

.help .help-modal a:hover {
  border-bottom: 3px solid #da362c;
}

.help .help-modal p:not(:last-child) {
  margin-bottom: 0.8rem;
}

.game-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-selection a {
  color: #191919;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 0.5em;
}

.game-selection a:hover {
  border-bottom: 3px solid #da362c;
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-back {
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
  top: 10px;
  left: 10px;
}

.txt-black {
  color: #191919;
}

.txt-red {
  color: #da362c;
}
/*# sourceMappingURL=style.css.map */